html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Big Fact Hunt
        link(rel="shortcut icon", href="../static/images/bigFactHuntLogo.png", type="image/x-icon")
        link(rel="stylesheet", href="../static/css/game.css")
        link(rel="stylesheet", href="../static/css/timer.css")
        link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css")
    body
        div#app 
        div#queans
            div#quediv
                p#que
            form#options(action=`/game`, method="post")
                input.option(label="opt1" type="radio" id="opt1" name="gender" value="opt1")
                input.option(label="opt2" type="radio" id="opt2" name="gender" value="opt2")
                input.option(label="opt3" type="radio" id="opt3" name="gender" value="opt3")
                input.option(label="opt4" type="radio" id="opt4" name="gender" value="opt4")
            div#buttons 
                button#end End
                button#skip Skip
                button#submit Submit

        script(src="https://code.jquery.com/jquery-3.2.1.min.js")
        script(src="../static/js/game.js") 
        script(src="../static/js/timer.js") 