doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Big Fact Hunt
        link(rel="shortcut icon", href="../static/images/bigFactHuntLogo.png", type="image/x-icon")
        link(rel="stylesheet", href="../static/css/home.css")
        link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css")
    body(onload="readSelectValue()")
        div#overlay.hidden

        div#instructions.closeInstructions 
            h2 Instructions 
            ol(type="1")
                li This is designed by #[a(href="https://a-spiral-forge.github.io/SpiralForge/" target="_blank") Abhay Parihar].
                li This quiz consist of #[15 questions].
                li You can select topic as per your convenience.
                li You can also select #[b All], if you are confortable with all listed topics.
                li For each que you will be provided #[b 15 Seconds]. 
                li You are pleased to not use any means for cheating.
                li Changing the tab or window, or moving cursor outside quiz will lead to disqulification.
                li Your score and comparision between answers will be displayed after the quiz ends.

        div#main 
            img#mainimg(src="../static/images/bigFactHunt.png", alt="Welcome to Big Fact Hunt")
        i#info.fa.fa-info-circle
        
        form#start(action="/game", method="post")
            select#selectTopic(name="selecttopic") 
                option(value="select" selected) Select option best for you.. 
                option(value="all") All Categories
                option(value="general_knowledge") General Knowledge 
                option(value="history") History 
                option(value="geography") Geography 
                option(value="food_and_drink") Food And Drink 
                option(value="art_and_literature") Art And Literature 
                option(value="movies") Movies 
                option(value="music") Music 
                option(value="science") Science 
                option(value="sport_and_leisure") Sport And Leisure 
                option(value="society_and_culture") Society And Culture 

            button#startGame Let's Begin
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")  
    script(src="../static/js/home.js") 