@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");
/* font-family: 'Roboto', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
/* font-family: 'Open Sans Condensed', sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box !important;
}

html,
body {
	height: 100% !important;
	width: 100% !important;
}

body {
	background-color: #700b97;
	overflow: hidden;
}

#app {
	width: 15rem;
	height: 15rem;
	margin: 1rem auto;
}

#queans {
	width: 100%;
	width: 80%;
	margin: auto;
	margin-top: 2rem;
}

#quediv {
	background-color: #FFF43F;
	height: 4rem;
	border-radius: 50px;
	margin-bottom: 2rem;
}

#options {
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: auto auto;
	grid-row-gap: 1rem;
}

/* #options form {
	width: 100%;
} */

.option {
	appearance: none;
	display: inline-block;
	background-color: #FFF43F;
	height: 4rem;
	width: 80%;
	appearance: none;
	outline: none;
	cursor: pointer;
	border-radius: 50px;
	transition: all 100ms linear;
	padding: 1rem 2rem;
}

.option:checked {
	background-image: linear-gradient(180deg, #34FF34, #74bbad);
	box-shadow: 0 1px 1px #0000002e;
	text-shadow: 0 1px 0px #79485f7a;
}

.option:before {
	text-transform: uppercase;
	content: attr(label);
	display: inline-block;
	width: 100%;
	font-size: 1.7rem;
}