@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");
/* font-family: 'Roboto', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
/* font-family: 'Open Sans Condensed', sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #700b97;
}